PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=e_gulit_db
DB_USER=postgres
DB_PASSWORD=your_password_here

# JWT
JWT_ACCESS_SECRET=change_this_in_production
JWT_REFRESH_SECRET=change_this_in_production
JWT_ACCESS_EXPIRATION=60m
JWT_REFRESH_EXPIRATION=7d

#CHAPA
CHAPA_API_KEY=YOUR_CHAPA_SECRET_KEY_KEY
CHAPA_API_URL=https://api.chapa.co/v1

# SMTP
SMTP_HOST=smtp.gmail.com #update it later in production
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM=E-Gulit <noreply@egulit.com>
APP_URL=http://localhost:5173

